@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ManumGothic";
  src: url("/assets/font/NanumGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ManumGothic", sans-serif;
}
